# Test Auth
SECRET_KEY=
ACCESS_TOKEN_EXPIRE_MINUTES=
DUMMY_PASSWORD=dummy-password
AUTH0_DOMAIN=
AUTH0_AUDIENCE=
AUTH0_ACTIONS_NAMESPACE=

# Test Superuser
NAME=
SURNAME=
GENDER=
PICTURE=
EMAIL=
PASSWORD=
PHONE=

# App
PORT=8800
HOST=localhost
CLIENT_HOST=
TEST_CLIENT_HOST=

# Test PostgreSQL
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=

# Test Redis
REDIS_HOST=
REDIS_PORT=6379
REDIS_DB=
REDIS_TTL=
