[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
alembic = "*"
annotated-doc = "*"
annotated-types = "*"
anyio = "*"
asyncpg = "*"
certifi = "*"
click = "*"
cryptography = "*"
dnspython = "*"
email-validator = "*"
faker = "*"
fastapi-cli = "*"
fastapi-cloud-cli = "*"
fastar = "*"
h11 = "*"
httpcore = "*"
httptools = "*"
httpx = "*"
idna = "*"
jinja2 = "*"
markdown-it-py = "*"
markupsafe = "*"
mdurl = "*"
phonenumbers = "*"
pillow = "*"
psycopg2-binary = "*"
pydantic = "*"
pydantic-extra-types = "*"
pydantic-settings = "*"
pydantic-core = "*"
pygments = "*"
pyjwt = "*"
pytest = "*"
pytest-asyncio = "*"
python-dotenv = "*"
python-multipart = "*"
pyyaml = "*"
pwdlib = {extras = ["argon2"], version = "*"}
redis = "*"
respx = "*"
rich = "*"
rich-toolkit = "*"
rignore = "*"
sentry-sdk = "*"
shellingham = "*"
starlette = "*"
sqlalchemy = "*"
typer = "*"
typing-inspection = "*"
typing-extensions = "*"
urllib3 = "*"
uvicorn = "*"
uvloop = "*"
watchfiles = "*"
websockets = "*"

[dev-packages]
pre-commit = "*"

[requires]
python_version = "3.12"
